@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckBoxSelectiononDataGrid</title>
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
      <h2>数据表格复选框选择模型</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>点击顶部复选框全选或者全不选.</div>
    </div>
    <div style="margin:10px 0;"></div>
    <table id="dg" class="easyui-datagrid" title="数据表格复选框选择模型" style="width:705px;height:250px"
           data-options="rownumbers:true,singleSelect:true,url:'/EasyUI_Areas/AdminSys/GetUserInfo'">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field: 'uId', title: '用户编号', width: 100"></th>
                <th data-options="field: 'uLoginName', title: '登录名', width: 100 "></th>
                <th data-options="field: 'uRemark', title: '备注', width: 100"></th>
                <th data-options="field: 'uPost', title: '邮编', width: 100"></th>
                <th data-options="field: 'uGender', title: '性别', width: 100, align: 'right'"></th>

            </tr>
        </thead>
    </table>
    <div style="margin:10px 0;">
        <span>选择模型: </span>
        <select onchange="$('#dg').datagrid({singleSelect:(this.value==0)})">
            <option value="0">单选</option>
            <option value="1">多选</option>
        </select><br/>
        选择联动复选框: <input type="checkbox" checked onchange="$('#dg').datagrid({selectOnCheck:$(this).is(':checked')})"><br/>
        复选框联动选择: <input type="checkbox" checked onchange="$('#dg').datagrid({checkOnSelect:$(this).is(':checked')})">
    </div>
</body>
</html>
