@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basic</title>
       <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
     <h2>基本对话窗体组件</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>点击下面按钮打开或者关闭对话窗体.</div>
    </div>
    <div style="margin:10px 0;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('open')">打开</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('close')">关闭</a>
    </div>
    <div id="dlg" class="easyui-dialog" title="基本对话框" data-options="iconCls:'icon-save'" style="width:400px;height:200px;padding:10px">
        对话窗体内容。
    </div>
</body>
</html>
