@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Dialog</title>
</head>
<body>
    <div style="padding: 5px;">
        <div style="padding: 5px 10px">
            <div>用户名:</div>
            <input style="width: 160px">
        </div>
        <div style="padding: 5px 10px">
            <div>密码:</div>
            <input type="password" style="width: 160px">
        </div>
        <div style="padding: 5px 10px; text-align: center">
            <a href="#" class="easyui-linkbutton">登录</a>
            <a href="#" class="easyui-linkbutton">关闭</a>
        </div>
    </div>
</body>
</html>
