@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormatTipInformation</title>
      <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <h2>格式化提示信息</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>如何格式化提示信息.</div>
    </div>
    <div style="margin:10px 0;"></div>
    <div style="margin-top:20px;">
        <input class="easyui-slider" value="12" style="width:300px" data-options="
                showTip: true,
                rule: [0,'|',25,'|',50,'|',75,'|',100],
                tipFormatter: function(value){
                    return value+'px';
                },
                onChange: function(value){
                    $('#ff').css('font-size', value);
                }">
    </div>
    <div id="ff" style="margin-top:50px;font-size:12px">www.ibeifeng.com</div>
</body>
</html>
