@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inline</title>
      <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
     <h2>内部窗体</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>内部窗体在它的父层里面.</div>
    </div>
    <div style="margin:10px 0;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('open')">打开</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('close')">关闭</a>
    </div>
    <div style="position:relative;width:500px;height:300px;border:1px solid #ccc;overflow:auto;">
        <div id="w" class="easyui-window" data-options="title:'内部窗体',inline:true" style="width:250px;height:150px;padding:10px">
            窗体在它的父层里面。
        </div>
    </div>
</body>
</html>
