@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultipleSelect</title>
      <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
   <h2>下拉框多选</h2>
    <div class="demo-info" style="margin-bottom:10px">
        <div class="demo-tip icon-tip"></div>
        <div>点击下拉框选择多个项.</div>
    </div>
    <input class="easyui-combobox"
           name="language"
           data-options="
                    url:'/EasyUI_Areas/AdminIndex/GetAllDeptsFirst',
                    valueField:'id',
                    textField:'text',
                    multiple:true,
                    panelHeight:'auto'
            ">
</body>
</html>
