.icon-beifeng{
	background:url('exticons/beifeng.png') no-repeat;
}
.icon-DepartMent{
	background:url('exticons/DepartMent.png') no-repeat;
}
.icon-exit{
	background:url('exticons/exit.png') no-repeat;
}
.icon-Person{
	background:url('exticons/Person.png') no-repeat;
}
.icon-pf{
	background:url('exticons/pf.png') no-repeat;
}
.icon-pwd{
	background:url('exticons/pwd.png') no-repeat;
}
.icon-xz{
	background:url('exticons/xz.png') no-repeat;
}
.icon-welcome{
	background:url('exticons/welcome.png') no-repeat;
}
.icon-tmenu{
	background:url('exticons/menu.png') no-repeat;
}
.icon-search_1{
	background:url('exticons/search_1.png') no-repeat;
}
.icon-search_2{
	background:url('exticons/search_2.png') no-repeat;
}
.icon-search_3{
	background:url('exticons/search_3.png') no-repeat;
}
.icon-search_4{
	background:url('exticons/search_4.png') no-repeat;
}
.icon-vip{
	background:url('exticons/vip.png') no-repeat;
}
.icon-menu2{
	background:url('exticons/menu2.png') no-repeat;
}
.icon-perm{
	background:url('exticons/perm.png') no-repeat;
}
.icon-role{
	background:url('exticons/role.png') no-repeat;
}
.icon-user{
	background:url('exticons/user.png') no-repeat;
}
.icon-zodiac{
	background:url('exticons/zodiac.png') no-repeat;
}
.icon-excel{
	background:url('exticons/excel.png') no-repeat;
}
.icon-log{
	background:url('exticons/log.png') no-repeat;
}
.icon-system{
	background:url('exticons/system.png') no-repeat;
}
.icon-index_1{
	background:url('exticons/index_1.png') no-repeat;
}
.icon-index_2{
	background:url('exticons/index_2.png') no-repeat;
}
.icon-navigation{
	background:url('exticons/navigation.png') no-repeat;
}
.icon-demo{
	background:url('exticons/demo.png') no-repeat;
}
.icon-xzSystem{
	background:url('exticons/xzSystem.png') no-repeat;
}
.icon-demo{
	background:url('exticons/demo.png') no-repeat;
}
.icon-rolePer{
	background:url('exticons/rolePer.png') no-repeat;
}
.icon-usrRole{
	background:url('exticons/usrRole.png') no-repeat;
}
.icon-girl{
	background:url('exticons/girl.png') no-repeat;
}
.icon-boy{
	background:url('exticons/boy.png') no-repeat;
}
.icon-print_1{
	background:url('exticons/print_1.png') no-repeat;
}
.icon-c1{
	background:url('exticons/c1.png') no-repeat;
}
.icon-c2{
	background:url('exticons/c2.png') no-repeat;
}
.icon-c3{
	background:url('exticons/c3.png') no-repeat;
}
.icon-c4{
	background:url('exticons/c4.png') no-repeat;
}
.icon-c5{
	background:url('exticons/c5.png') no-repeat;
}
.icon-c6{
	background:url('exticons/c6.png') no-repeat;
}
.icon-c7{
	background:url('exticons/c7.png') no-repeat;
}
.icon-c8{
	background:url('exticons/c8.png') no-repeat;
}
.icon-question{
	background:url('exticons/question.png') no-repeat;
}
.icon-customer{
	background:url('exticons/customer.png') no-repeat;
}
.icon-course{
	background:url('exticons/course.png') no-repeat;
}
.icon-d1{
	background:url('exticons/d1.png') no-repeat;
}
.icon-d2{
	background:url('exticons/d2.png') no-repeat;
}
.icon-d3{
	background:url('exticons/d3.png') no-repeat;
}
.icon-d4{
	background:url('exticons/d4.png') no-repeat;
}
.icon-d5{
	background:url('exticons/d5.png') no-repeat;
}
.icon-d6{
	background:url('exticons/d6.png') no-repeat;
}
.icon-d7{
	background:url('exticons/d7.png') no-repeat;
}
.icon-d8{
	background:url('exticons/d8.png') no-repeat;
}
.icon-d9{
	background:url('exticons/d9.png') no-repeat;
}
.icon-d10{
	background:url('exticons/d10.png') no-repeat;
}
.icon-d11{
	background:url('exticons/d11.png') no-repeat;
}
.icon-d12{
	background:url('exticons/d12.png') no-repeat;
}

.icon-a1{
	background:url('exticons/a1.png') no-repeat;
}
.icon-a2{
	background:url('exticons/a2.png') no-repeat;
}
.icon-a3{
	background:url('exticons/a3.png') no-repeat;
}
.icon-a4{
	background:url('exticons/a4.png') no-repeat;
}
.icon-a5{
	background:url('exticons/a5.png') no-repeat;
}
.icon-a6{
	background:url('exticons/a6.png') no-repeat;
}
.icon-a7{
	background:url('exticons/a7.png') no-repeat;
}
.icon-a8{
	background:url('exticons/a8.png') no-repeat;
}
.icon-a9{
	background:url('exticons/a9.png') no-repeat;
}
.icon-a10{
	background:url('exticons/a10.png') no-repeat;
}
.icon-a11{
	background:url('exticons/a11.png') no-repeat;
}
.icon-a12{
	background:url('exticons/a12.png') no-repeat;
}
.icon-a13{
	background:url('exticons/a13.png') no-repeat;
}
.icon-a14{
	background:url('exticons/a14.png') no-repeat;
}
.icon-a15{
	background:url('exticons/a15.png') no-repeat;
}
.icon-a16{
	background:url('exticons/a16.png') no-repeat;
}
.icon-a17{
	background:url('exticons/a17.png') no-repeat;
}