@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basic</title>
      <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
       <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>点击右边箭头按钮来显示树数据.</div>
    </div>
    <div style="margin:10px 0"></div>
    <input class="easyui-combotree" data-options="url:'/EasyUI_Areas/AdminIndex/GetAllDepts',required:true" style="width:200px;">
</body>
</html>
