@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditableTree</title>
      <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/demo/demo.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <h2>可编辑树</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>点击节点开始编辑,按Enter键停止编辑或者ESC键结束编辑.</div>
    </div>
    <div style="margin:10px 0;"></div>
    <ul id="tt" class="easyui-tree" data-options="
            url: '/EasyUI_Areas/AdminIndex/GetAllDepts',
            animate: true,
            onClick: function(node){
                $(this).tree('beginEdit',node.target);
            }
        "></ul>
</body>
</html>
