@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowIndexImg</title>
    <style type="text/css">
        #center {
            width:568px;
            height:360px;
            margin: 20px auto 0px auto;
        }
        .divFont {
            font-size: 30px;
            font-weight: bold;
            width: 568px;
            height: 40px;
            margin: 5px auto 0px auto;
            text-align: center;
            color:blue;
        }
    </style>
</head>
<body>
    <div id="center">
        <img src="~/Content/images/show.png" />
        <div class="divFont" style="color:red">北风jEasyUI .NETMVC版</div>
        <div class="divFont" style="font-size:25px">设计、主讲老师:闲筝</div>
    </div>
</body>
</html>
